body {
    padding-top: 50px;
}

.form-login {
  width: 600px;
  margin: 0 auto;
}

#result {
	list-style-type: none;
	display: block;
	background-color: #9bf2a6;
}

#resultimg{
	display: inline-block;
	padding:5px;
}

li {
	font-size: 14px;
	padding: 5px;
}
